 nav{
    background-color: rgba(0, 0, 0, 0.297);
    
  }

  body{
    background: url(https://images.alphacoders.com/304/304333.jpg);
    background-size: cover;
    opacity: 80%;
  } 

  .corsistemaADM{
    background-color: rgba(29, 26, 5, 0.059);
  }

 